#root {
  max-width: 1280px;
  /*margin: 0 auto;*/
  padding: 2rem;
  /*text-align: center;*/
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items{
  list-style-type:none ;
  display: flex;

}

.nav-items li{
  padding: 0 2em;
}

.facts{
  padding: 0 1em;
}
